<div class="d-flex flex-column flex-shrink-0  bg-body-tertiary sidebar-nav py-4 " >
    
    <ul class="nav nav-pills flex-column mb-auto ">
      <li class="nav-item">
        <a  href="{% url 'index' %}" class="nav-link " >
          Home
        </a>
      </li>
      <li>
        <a href="{% url 'bookinstances' %}" class="nav-link link-body-emphasis" >
          All book copies
        </a>
      </li>
      <li>
        <a href="{% url 'books' %}" class="nav-link link-body-emphasis">
          All books
        </a>
      </li>
      <li>
        <a href="{% url 'authors' %}" class="nav-link link-body-emphasis">
          All authors
        </a>
      </li>
      <li>
        <a href="{% url 'genres' %}" class="nav-link link-body-emphasis">
          All genres
        </a>
      </li>
      <li>
        <a href="{% url 'languages' %}" class="nav-link link-body-emphasis">
          All languages
        </a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <form id="logout-form" method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <button type="submit" class="nav-link link-body-emphasis">Logout</button>
        </form>
      <li>
        {% else %}
        <li><a href="{% url 'account_login'%}?next={{request.path}}" class="nav-link link-body-emphasis "><strong>Login</strong></a></li>
      {% endif %}
    </ul>
    {% if user.is_staff %}
    <hr>
    
    <ul class="nav nav-pills flex-column mb-auto ">
      <li class="nav-link  nav-item">
      
        User: {{user.get_username}}
      
     </li>

      <li>
        <a  href="{% url 'all-borrowed' %}" class="nav-link link-body-emphasis" >
          All borrowed
        </a>
      </li>
      {% if perms.catalog.add_genre %}
      <li>
        <a href="{% url 'genre-create' %}" class="nav-link link-body-emphasis">
          Create genre
        </a>
      </li>
      {% endif %}
      {% if perms.catalog.add_language %}
      <li>
        <a href="{% url 'language-create' %}" class="nav-link link-body-emphasis">
          Create language
        </a>
      </li>
      {% endif %}
      {% if perms.catalog.add_author %}
      <li>
        <a href="{% url 'author-create' %}" class="nav-link link-body-emphasis">
          Create author
        </a>
      </li>
      {% endif %}
      {% if perms.catalog.add_bookinstance %}
      <li>
        <a href="{% url 'book-create' %}" class="nav-link link-body-emphasis">
          Create book
        </a>
      </li>
      {% endif %}
      {% if perms.catalog.add_bookinstance %}
      <li>
        <a href="{% url 'bookinstance-create' %}" class="nav-link link-body-emphasis">
          Create copy of book
        </a>
      </li>
      {% endif %}

    </ul>  
    {% endif %}
    
    
  </div>